In [1]:
numbers = [2, 3, 7, 0, -2]

In [2]:
numbers

[2, 3, 7, 0, -2]

In [3]:
print(numbers)

[2, 3, 7, 0, -2]

In [4]:
numbers*2

[2, 3, 7, 0, -2, 2, 3, 7, 0, -2]

In [5]:
dubles=[]

In [6]:
for number in numbers:
    print(number*2)
    dubles.append(number*2)

4
6
14
0
-4

In [7]:
dubles

[4, 6, 14, 0, -4]

In [8]:
def make_double(values):
    dbls=[]
    for value in values:
        dbls.append(value*2)
    return dbls

In [9]:
qqrq=make_double([3,2,4])

In [10]:
qqrq

[6, 4, 8]

In [11]:
import helper

In [12]:
helper.create_double([3,6,1])

[6, 12, 2]

In [13]:
helper.helo('Ar')

Hello Ar

In [14]:
from helper import create_double

In [15]:
create_double([3,8])

[6, 16]

In [ ]:
dbls = map(lambda num: num*2, numbers)

In [26]:
dbls
for val in dbls:
    print(val)

2
4
6
8
10
12
14
16
18

In [29]:
xx=lambda num: num*2
print(xx(5))

10

In [36]:
numbers = list(range(0,10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
a = [2, 3, 4]
b = [7, 8, 9]

for i in range(len(a)):
    print(a[i]+b[i])

9
11
13

In [34]:
for (x,y) in zip(a,b):
    print(x+y)

9
11
13

In [38]:
for num in numbers:
    if num !=0:
        print(100/num)

100.0
50.0
33.333333333333336
25.0
20.0
16.666666666666668
14.285714285714286
12.5
11.11111111111111

In [39]:
for num in numbers:
    if num ==0:
        continue
    print(100/num)

100.0
50.0
33.333333333333336
25.0
20.0
16.666666666666668
14.285714285714286
12.5
11.11111111111111

In [40]:
for num in numbers:
    if num == 0:
        break
    print(100/num)

In [41]:
import random

In [43]:
random.random()

0.7183321316327348

In [48]:
random.randrange(2,100)

26